/*
 *
 * RubishCollection
 *
 * upgrade_script
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.flashbin{
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    line-height: 30px;
    
}
.flashBinImg {
    width: 30px;
    line-height: 30px;
    }
    

    
.bin {
    width: 20px;
    line-height: 30px;
    }

.flashbintext{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}    

.noflashbin{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}
.text{
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}
.bin_table {
    border-collapse: collapse;
}

.bin_table td {
border: 1px solid grey;
border-left: 0px;
border-right: 0px;
border-bottom: 0px;
}

